Importing the Essential Libraries

In [1]:
# 1 .importing the libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'pandas'

Analysing the dataset

In [62]:
# 2. loading the dataset 
dataset = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [63]:
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [64]:
dataset['gender'].value_counts() # gives the number of values in a specific value

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [65]:
dataset.replace({'gender':{'Male':2,'Female':1,'Other':0}},inplace=True)

In [66]:
dataset['work_type'].value_counts()

Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [67]:
dataset.replace({'work_type':{'Private':4,'Self-employed':3,'children':2,'Govt_job':1,'Never_worked':0}},inplace=True)

In [68]:
dataset['ever_married'].value_counts()

Yes    3353
No     1757
Name: ever_married, dtype: int64

In [69]:
dataset.replace({'ever_married':{'Yes':1,'No':0}},inplace=True)

In [70]:
dataset['Residence_type'].value_counts()

Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [71]:
dataset.replace({'Residence_type':{'Urban':1,'Rural':0}},inplace=True)

In [72]:
dataset['smoking_status'].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [73]:
dataset.replace({'smoking_status':{'never smoked':0,'Unknown':1,'formerly smoked':2,'smokes':3}},inplace=True)

In [74]:
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,2,67.0,0,1,1,4,1,228.69,36.6,2,1
1,51676,1,61.0,0,0,1,3,0,202.21,NaN,0,1
2,31112,2,80.0,0,1,1,4,0,105.92,32.5,0,1
3,60182,1,49.0,0,0,1,4,1,171.23,34.4,3,1
4,1665,1,79.0,1,0,1,3,0,174.12,24.0,0,1

In [75]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   int64
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   int64
 6   work_type          5110 non-null   int64
 7   Residence_type     5110 non-null   int64
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   int64
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(9)
memory usage: 479.2 KB

In [76]:
X = dataset.iloc[:,:-1].values 
y = dataset.iloc[:,-1].values # it contains the values of column stroke

In [77]:
dataset.shape

(5110, 12)

In [78]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean') # replacing hte missing value with mean of the column 
imputer.fit(X[:, 9:10])    
X[:, 9:10] = imputer.transform(X[:, 9:10])

In [79]:
X

array([[9.04600000e+03, 2.00000000e+00, 6.70000000e+01, ...,
        2.28690000e+02, 3.66000000e+01, 2.00000000e+00],
       [5.16760000e+04, 1.00000000e+00, 6.10000000e+01, ...,
        2.02210000e+02, 2.88932369e+01, 0.00000000e+00],
       [3.11120000e+04, 2.00000000e+00, 8.00000000e+01, ...,
        1.05920000e+02, 3.25000000e+01, 0.00000000e+00],
       ...,
       [1.97230000e+04, 1.00000000e+00, 3.50000000e+01, ...,
        8.29900000e+01, 3.06000000e+01, 0.00000000e+00],
       [3.75440000e+04, 2.00000000e+00, 5.10000000e+01, ...,
        1.66290000e+02, 2.56000000e+01, 2.00000000e+00],
       [4.46790000e+04, 1.00000000e+00, 4.40000000e+01, ...,
        8.52800000e+01, 2.62000000e+01, 1.00000000e+00]])

Feature Scaling

In [80]:
from sklearn.preprocessing import StandardScaler # Standardize the dataset 
sc = StandardScaler() # mean = 0 , SD = 1
X = sc.fit_transform(X)

Spliting into Training and Testing Dataset

In [81]:
from sklearn.model_selection import train_test_split# dividing the datset into training set and testing set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

Implementation of Random Forest Classifier

In [86]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(criterion='entropy',n_estimators=50,random_state=0)
model.fit(X_train,y_train.ravel())

RandomForestClassifier(criterion='entropy', n_estimators=50, random_state=0)

In [87]:
y_pred_forest = model.predict(X_test)

Checking the Accuracy of Random Forest Classifier

In [88]:
from sklearn.metrics import accuracy_score
print("Accuracy: ",round(accuracy_score(y_test,y_pred_forest)*100,2),"%") # comparing the accuracy of y_pred and y_test

Accuracy:  94.72 %